@media screen and (max-width: 850px) {
    header {
        grid-template-columns: auto;
    }
}

header {
    display: flex;
    align-items: center;
    gap: 30%;
    background-color: #ffffff;
    height: 60px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-left {
    flex-basis: 30%;
}

.header-right {
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 0;
    flex-wrap: nowrap;
}

.demo, .features {
    font-size: 14px;
    font-weight: bold;
}

header button {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.sign_up {
    background-color: #0D1A49;
    color: #ffffff !important;
    width: 130px;
}

.log_in {
    width: 80px;
    background-color: #ffffff;
    border: solid 1px #000000;
    color: #000;
}