* {
    margin: 0 auto;
}
button {
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sign_up {
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    background-color: #0D1A49;
    color: white !important;
}
.header {
    display: flex;
    flex-basis: 20%;
    flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    height: auto;
    background-color: #ffffff;
    border-bottom: 3px solid wheat;
}
.logo {
    width: 10px;
    height: 5px;
}
.demo, .feature {
    padding: 10px;
}
.log_in {
    width: 5rem;
    border-radius: 20px ;
}
a {
    text-decoration: none;
    color: inherit;
 }