.log_in {
    color: #000;
    border: 1px solid #0D1A49;
    border-radius: 15px;
    padding: 10px 20px;
}
#container1, #container3 {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    margin: 50px 150px;
    box-shadow: 10px;
    height: auto;
    width: auto;
}
#container1 {
    color: wheat;
    display: flex;
    flex-basis: 100%;
    height: 500px;
    background-image:url("../images/library.jpg")
}
.inner_box {
    text-shadow: 5px;
    box-sizing: border-box;
    border: 1px solid #0D1A49;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content:flex-start;
    margin: 50px;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    color: #000;
    font-size: 30px;
}
@media screen and (max-width: 1057px) { 
    #container1 {
        flex-basis: 100%;
        height: auto;
        margin: 50px 20px;
    }
    .inner_box {
        box-sizing: content-box;
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        justify-content: flex-start;
        flex-shrink: 0;
        margin-top: 70px;
        margin: 50px;
        height: auto;
        width: 30%;
        padding: 20px;
        font-size: 10px;
    }
}
#container2, #container {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
    margin: 0 9rem;
}
.item1, .item2, .item3 {
    flex-basis: 33%;
    width: auto;
    height: 350px;
    border: 1px solid #0D1A49;
}
.item {
    flex-basis: 33%;
    text-align: center;
    border: 1px solid #0D1A49;
}
@media screen and (max-width: 1057px) {
    #container2 {
        margin: 20px;
    }
    .item h2 {
        font-size: 18px;
    }
}
.item1 {
    background-image: url("../images/seemless_resource.png");
    background-position: center;
}   
.item2 {
    background-image: url("../images/centralized_resource.jpg");
    background-position: center;
}
.item3 {
    background-image: url("../images/user_friendly.webp");
    background-position: center;
}
h2 {
    margin-top: 3rem;
}
#container3 {
    margin-top: 0;
    border: 1px solid #0D1A49;
    height: 250px;
}
.sub-head {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 50px;
}
.grid {
    display: grid;
}
.grid-box {
    border: 2px solid #0D1A49;
    height: 40px;
    width: 144px;
    color: #0D1A49;
    background-color: #E69138;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    grid-row-start: 8;
    grid-row-end: 9;
}