#user_type {
    box-sizing: border-box;
    width: 517px;
    height: 70px;
    border: 1px solid black;
}
.drop {
    position: relative;
    display: flex;
}
.down {
   display: none;
   position: absolute;
}
.drop:hover .down {
    display: block;
    padding: 30px;
    background-color: #E69138;
    border: 2px solid #0D1A49;
}
.dropdown-btn {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
    padding: 20px;
}
.click {
    justify-self: left;
    font-size: 18px;
    font-family: sans-serif;
}