input {
    display: flex;
    width: 517px;
    height: 65px;
}
label {
    display: flex;
}
.exist {
    text-align: center;
    margin-bottom: 50px;
}
.login_bot button {
    text-align: center;
}
p a {
    text-decoration: underline;
    color: #E69138;
}