* {
    margin: 0 auto;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Source Serif Pro', sans-serif;
    font-size: 14px;*/
}

.container {
    width: 1080px;
    margin: 0 auto;
    min-height: 65vh;
    border: solid 1px red;
}

p.flash {
    color: red;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}