.dept-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 2px 2px 2px;
}
.department-name {
    margin-top: 15px;
    padding: 0;
    border: none;
    font-weight: bold;
}
.teacher-list input {
    display: flex;
    margin: 0;
    padding: 0;
}
.add-teacher {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    column-gap: 35px;
}

.teacher {
    display: flex;
    gap: 5px;
    width: 100%;
    flex-wrap: nowrap;
    flex-grow: 0;
}
.teacher p {
    display: flex;
    padding: 5px;
    border: 1px solid  #ccc;
    width: 100%;
    margin-top: 5px;
}
.delete-teacher {
    margin: 5px;
}