#buttom {
    padding: 5px;
    display: flex;
    flex-shrink: 0;
    flex-basis: 15%;
    background-color: #0D1A49;
    color: whitesmoke;
    height: 200px;
}
.login_bot {
    height: 50px;
    width: 100%;
    background-color: orange;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.login_bot:hover, .login_bot:active {
    background-color: #0D1A49;
    color: #fff;
}
.foot {
    color: orange;
}
footer div p {
    margin-top: 20px;
}
@media screen and (max-width: 1150px) {
    #buttom {
        display: grid;
        height: auto;
        grid-template-columns: auto auto;
        align-items: first baseline;
    }
}