{% extends "base.html"%}

{% block content %}
<section id="about">
    <h2 class="sub-head">About Us</h2>
    <div class="about-subsection">
        <div class="about-content">
            <p> <h2>Our Inspiration </h2> <br>
                <p> The inspiration for our project stemmed from the firsthand experiences of our frontend engineer, who is currently an undergraduate at the University of Lagos, Nigeria.
                    Our frontend engineer recounted numerous instances where students were lost during lectures due to not having received the necessary resources, situations where student fails due to financial incapability to get learning materials among others. Similar challenges were faced by other team members during their university days. These shared experiences motivated us to develop a solution that ensures timely and equitable access to educational resources for all students.
                </p>
                <br>
                <h4> Challenges we aimed to address: </h4>
                <ul>
                    <li> Difficulty in accessing educational materials sent by lecturers. </li>
                    <li> Inefficiencies and irresponsibility of middlemen (class representatives) meant to distribute these materials. </li>
                    <li> Delays in receiving resources, impacting learning and exam preparation. </li>
                    <li> Financial constraints in acquiring handouts, leading to reliance on friends for study materials. </li>
                </ul><br>
                <p>We aimed at building this software to provide solution to the problems of students in tertiary institutions in africa and throughout the world, leveraging our skills to generate a platform that aids seamless sharing of resources, 
                    eliminate constraints in the academic field and providing everlasting solutions to Tertiary institutions, Lecturers and Students in Nigeria, Africa and Oversea.
                </p>
                <br>
            </p>
        </div>
        <h2 id="team">Our Team</h2>
        <div class="developers">
            <div>
                <img class="image-circle" src="{{ url_for('static', filename='images/quyum.jpg') }}">
                <h2>Ajumobi Abdulquyum</h2>
                <h3>Frontend Engineer</h3>
                <h3>Nigeria</h3>
                <div class="profile-link">
                    <div><a href="https://twitter.com/Abdqooyum" target="_blank"> X </a></div>
                    <div><a href="https://github.com/Abdulquyum" target="_blank"> Github </a></div>
                    <div><a href="https://www.linkedin.com/in/abdulquyum-ajumobi-87a047304/" target="_blank"> LinkedIn </a></div>
                </div>
            </div>
            <div>
                <img class="image-circle" src="{{ url_for('static', filename='images/love.jpg') }}">
                <h2>Love Afinni</h2>
                <h3>Backend Engineer</h3>
                <h3>Nigeria</h3>
                <div class="profile-link">
                    <div> <a href="https://twitter.com/dev_niniolax" target="_blank"> X </a></div>
                    <div> <a href="https://github.com/NiniolaX" target="_blank"> Github </a></div>
                    <div><a href="https://www.linkedin.com/in/loveafinni" target="_blank"> LinkedIn </a></div>
                </div>
            </div>
            <div>
                <div class="image-circle"></div>
                <h2>Kelvin Mburu</h2>
                <h3>Devops Engineer</h3>
                <h3>Kenya</h3>
                <div class="profile-link">
                    <div><a href="" target="_blank"> X </a></div>
                    <div>  <a href="https://github.com/kelanny" target="_blank"> Github </a></div>
                    <div><a href="" target="_blank"> LinkedIn </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="github-repo"><p><a href="https://github.com/NiniolaX/ResourceHub">Project Github Repository</a></p></div>
</section>
{% endblock %}