<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Dashboard</title>
</head>
<body>
    <header>
    	<div class="left">
    		<img id="logo" src="" alt="logo">
            </div>
    	<div class="right">
        	<p class="user-name">Welcome {{ name }}!</p>
            <img id="bell" src="" alt="bell">
        	<button><a href="{{ url_for('logout') }}">Logout</a></button>
    	</div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div><!-- end container -->

    <footer>
        <p>ResourceHub</p>
    </footer>
</body>
</html>
