{% extends "base.html" %}

{% block content %}
<section id="banner-section">
    <div class="inner_box">
        <h1>Simplfying academic resource sharing and management</h1>
        <p>Empower your institutions with seamless resource sharing for learners and educators.</p>
    </div>
    <div class="grid">
        <button class="get-started"><a class="action" href="{{ url_for('signup') }}"><p>Get Started</p></a></button>
    </div>
</section><!-- end banner section-->

<section id="features-section">
    <h2 class="sub-head">Features</h2>
    <div id="features-subsection">
        <div class="item">
            <div class="item1"></div>
            <h3>Seamless resource Sharing</h3>
            <p>Teachers and Instructors can seamlesslessly upload resource materials and share with their students.</p>
        </div>
        <div class="item">
            <div class="item2"></div>
            <h3>Centralized Resorce management</h3>
            <p>Institutions can manage all academic resources without stress.</p>
        </div>
        <div class="item">
            <div class="item3"></div>
            <h3>User-friendly access</h3>
            <p>Learners can access vital learning materials at anywhere anytime.</p>
        </div>
    </div>
</section><!-- end features section-->

<section id="team-section">
    <h2 class="sub-head">Our Team</h2>
    <div class="developers">
        <div>
            <img class="image-circle" src="{{ url_for('static', filename='images/quyum.jpg') }}">
            <h2>Ajumobi Abdulquyum</h2>
            <h3>Frontend Engineer</h3>
            <h3>Nigeria</h3>
            <div class="profile-link">
                <div><a href="https://twitter.com/Abdqooyum" target="_blank"> X </a></div>
                <div><a href="https://github.com/Abdulquyum" target="_blank"> Github </a></div>
                <div><a href="https://www.linkedin.com/in/abdulquyum-ajumobi-87a047304/" target="_blank"> LinkedIn </a></div>
            </div>
        </div>
        <div>
            <img class="image-circle" src="{{ url_for('static', filename='images/love.jpg') }}">
            <h2>Love Afinni</h2>
            <h3>Backend Engineer</h3>
            <h3>Nigeria</h3>
            <div class="profile-link">
                <div> <a href="https://twitter.com/dev_niniolax" target="_blank"> X </a></div>
                <div> <a href="https://github.com/NiniolaX" target="_blank"> Github </a></div>
                <div><a href="https://www.linkedin.com/in/loveafinni" target="_blank"> LinkedIn </a></div>
            </div>
        </div>
        <div>
            <div class="image-circle"></div>
            <h2>Kelvin Mburu</h2>
            <h3>Devops Engineer</h3>
            <h3>Kenya</h3>
            <div class="profile-link">
                <div><a href="" target="_blank"> X </a></div>
                <div>  <a href="https://github.com/kelanny" target="_blank"> Github </a></div>
                <div><a href="" target="_blank"> LinkedIn </a></div>
            </div>
        </div>
    </div>
</section><!-- end about section -->

<section id="demo-section">
    <h2 class="sub-head">Watch Demo</h2>
    <iframe src="https://www.youtube.com/embed/G2kbMiA2Niw" title="ResourceHub Demo Video" width="auto" height="100%" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section><!-- end demo section -->

{% endblock %}