{% extends "base.html" %}

{% block content %}
<p>You can manage departments here</p>
<ul class="departments">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <p >{{ messages[0][1] }}</p>
        {% endif %}
    {% endwith %}
    <li>
        <form action="{{ url_for('add_department') }}" method="post">
            <input id="name" type="text" placeholder="Enter department here" name="name" required>
            <input type="submit" value="Add">
        </form>
    </li>
    {% for department in departments %}
    <li>
        {{ department['name'] }}
        <form action="{{ url_for('delete_department')}}" method="post">
            <input type="hidden" name="department_id" value="{{ department['id']}}">
            <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
