<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResourceHub</title>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/sign_up.css">
    <link rel="shortcut icon" href="images/Logo cropped.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header">
            <img src="images/Logo cropped.png" alt="ResourceHub">
            <div class="demo"><a href="home.html">Watch Demo</a></div>
            <div class="feature"><a href="home.html">Features</a></div>
            <button class="log_in"><a href="log_in.html">Log In</a></button>
            <button class="sign_up">Sign up School</button>
        </div>
</header>
    <h3>Sign up your Institution</h3>
        <section id="container">
            <form action="POST">  
                <label for="name">Name of institution</label>
                    <input id="name" type="text">
                        <label for="email">Email Address</label>
                            <input id="email" type="email">
                                <label for="password">Password</label>
                            <input id="password" type="password">
                        <label for="password2">Re-enter your Password</label>
                    <input id="password2" type="password">
                <button class="login_bot">Sign Up</button>
            </form>
    </section>
        <p class="exist">already have an account? <a href="log_in.html">log in</a></p>
    <footer id="buttom">
        <div>
            <img src="images/Logo cropped.png" alt="ResourceHub">
                <p>Resource hub is an organised system for distributing educational resources within learning institutions</p>
        </div>
        <div>
            <p class="foot">Contact Us</p>
            <p>www.resourcehub.com.ng</p>
        </div>
        <div>
            <p class="foot">Institutions</p>
            <p>University of Lagos</p>
            <p>Convenant university</p>
        </div>
        <div>
            <p class="foot">About</p>
            <p>Developer</p>
            <p>Terms of Services</p>
        </div>
    </footer>
</body>
</html>