<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Signup</title>
</head>
<body>
    <h2>Signup your institution</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <p >{{ messages[0][1] }}</p>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('signup_post') }}" method="post">
        <label for="name">Institution name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="message">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
