{% extends "dashboard-base.html" %}

{% block content %}

<button class="manage-item"><a class="action" href="{{ url_for('render_create_resource') }}">Create resource</a></button>
<h3 class="title">Manage resources</h3>
<section class="user-items">
    <ul class="resource-list">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <p class="flash">{{ messages[0][1] }}</p>
            {% endif %}
        {% endwith %}

        {% for resource in resources %}
        <li class="resource">
            <p><a href="{{ url_for('view_resource', slug=resource.slug) }}">{{ resource['title'] }}</a></p>
            <form class="delete-resource" action="{{ url_for('delete_resource') }}" method="post">
                <input type="hidden" name="resource_id" value="{{ resource['id']}}">
                <input class="delete-button" type="submit" value="Delete">
            </form>
        </li>
        {% endfor %}

    </ul><!-- end .resource-list -->
</section>

{% endblock %}
