{% extends "base.html" %}

{% block content %}
<p>Welcome to your Teacher's dashboard!</p>

<p>You can create resource <a href="{{ url_for('render_create_resource') }}">here</a></p>

<ul class="resources">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <p >{{ messages[0][1] }}</p>
        {% endif %}
    {% endwith %}
    {% for resource in resources %}
    <li>
        <h4><a href="">{{ resource['title'] }}</a></h4>
        <form action="{{ url_for('delete_resource') }}" method="post">
            <input type="hidden" name="resource_id" value="{{ resource['id']}}">
            <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock %}
